{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Results for category: {{category}}</h1>
    {% for listing in listings %}
        {% if listing.isActive %}
            <div class="border border-dark"></div>
                    <br>
                    <div class="container-fluid">
                        <div class="row">
                            {% if listing.image %}
                            <div>
                                <img src="{{listing.image}}" width="700" height="350" style="object-fit:contain;">
                            </div>
                            {% endif %}
                            <div>
                                <a href="{% url 'listing' listing_id=listing.id %}" style="color: black;"><h3><strong>{{listing.title}}</strong></h3></a><br>
                                {{listing.description}}
                                <br><br>
                                <h3>Price: ${{listing.amount}}</h3><br>
                                Created {{listing.creationTime}}
                            </div>
                        </div>
                    </div>                
                    <br>
        {% endif %}
    {% empty %}
        <h3>None.</h3>
    {% endfor %}
{% endblock %}