{% extends "taloflash/layout.html" %}
{% load static %}

{% block title %} All Sets {% endblock %}

{% block script %}
    <script src=" https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js "></script>
    <script defer src="{% static 'taloflash/flashset.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container-lg">
        <h2>{{flashset.name}}</h2>
        <a href="{% url 'createFlashcard' set_id=flashset.id %}" class="btn btn-custom-blue">Create Flashcard</a>
        {% if user == flashset.creator %}
            <button type="button" class="btn btn-custom-danger" data-bs-toggle="modal" data-bs-target="#deleteFlashsetConfirmation">Delete Set</button>
            <div class="modal fade" id="deleteFlashsetConfirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="modal-title" style="font-size:22px">Are you sure you would like to delete this set?</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <form method="post" action="{% url 'set' set_id=flashset.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" id="deleteFlashsetConfirmationButton">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% for flashcard in flashcards %}
            <div style="color:currentColor; text-decoration:none;" class="container-fluid my-2 flashset" id="flashcard-{{flashcard.id}}">
                <div class="row my-3">
                    <div class="col-auto">
                        <img src="{{flashcard.imageURL}}" style="object-fit:contain; max-height:300px;" >
                    </div>
                    <div class="col-auto">
                        <h2><strong>{{flashcard.front}}</strong></h2>
                        <h4>{{flashcard.back}}</h4>
                        <h6>Created by: {{flashcard.creator.username}}</h6>
                    </div>
                    {% if user in flashset.editors.all %}
                        <div class="col-auto ms-auto me-4 d-flex flex-column">
                            <div class="row align-items-start justify-content-end mb-auto mt-3">
                                <button type="button" class="btn btn-primary" style="font-size:26px;">Edit</button>
                            </div>
                            <div class="row align-items-end justify-content-end mb-3 mt-2">
                                
                                <button type="button" class="btn btn-custom-danger" onclick="deleteFlashcard({{flashcard.id}}, {{flashset.id}})">Delete</button>
                            </div>
                        </div>
                    {% endif %}
                </div>  
            </div>
        {% endfor %}
    </div>
{% endblock %}