{% extends "taloflash/layout.html" %}

{% block title %} All Sets {% endblock %}

{% block script %}{% endblock %}

{% block body %}
    <div class="container-lg">
        {% for set in sets %}
            <a href="#" style="color:currentColor; text-decoration:none;">
                <div class="container-fluid my-2 flashset">
                    <h2><strong>{{set.name}}</strong></h2>
                    <h5>Creator: {{set.creator.username}}</h5>
                    <h6>{{set.description}}</h6>
                    <h6>Flashcards: {{set.flashcardCount}}</h6>
                    <h6>Likes: {{set.likeCount}}</h6>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}