{% extends "taloflash/layout.html" %}
{% load static %}

{% block title %} Study {% endblock %}

{% block script %}
    <script src=" https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js "></script>
    <script defer src="{% static 'taloflash/study.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container-lg">
        <div id="flashcardFront" class="flashcard" style="height:80vh">
            <div class="row text-center mt-3 mb-4"><span style="font-size:{{user.settings.flashcardFontSize}}px;" id="studyFlashcardFrontText">Front placeholder</span></div>    
            <div class="row justify-content-center mb-5"><img class="d-block object-fit-contain" style="max-height:50vh; max-width:45vw;" id="studyFlashcardFrontImageURL" src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"></div>
            <div class="row justify-content-center mt-5">
                <button type="button" class="col-4 btn btn-custom-blue" onclick="flip()">Show answer</button>
            </div>
        </div>
        <div id="flashcardBack" class="flashcard d-none" style="height:80vh">
            <div class="row text-center mt-3 mb-4"><span style="font-size:{{user.settings.flashcardFontSize}}px;" id="studyFlashcardBackText">Back placeholder</span></div>    
            <div class="row justify-content-center"><img style="display:block; object-fit:contain; max-height:50vh; max-width:45vw;" id="studyFlashcardBackImageURL" src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"></div>
            <div class="row justify-content-center mt-5">
                <button type="button" class="col-4 col-lg-2 me-2 btn btn-custom-blue" id="learnedButton">I knew</button>
                <button type="button" class="col-4 col-lg-2 ms-2 btn btn-custom-danger" id="notLearnedButton">I didn't know</button>
            </div>
        </div>
    </div>
{% endblock %}