.nav-link:hover {
    text-decoration: underline;
}

.main-containter {
    display: flex;
    justify-content: center;
    height: 90vh;
}

.btn-google {
    background-color: #fafafa;
    border: #ededed 1px solid;
}

.btn-google:hover {
    background-color: #fafafa;
    border: #cdcdcd 1px solid;
}

.google-search {
    border: #dddddd 2px solid;
    background-color: #ffffff;
}

.google-search:hover {
    background-color: #ffffff;
    border: #dddddd 1px solid;
}

.google-search:focus {
    background-color: #ffffff;
    outline: none;
    border: #dddddd 1px solid;
}

.image-text {
    font-size: 16px;
    color: #4487f6;
    position: relative;
    left: 107px;
    bottom: 25px;
}

.advanced-header {
    color: #f28b82;
    font-size: 20px;
    margin-top: 20px;
}

.advanced-row {
    color: #969ba1;
    font-size: 14px;
    padding: 10px;
}

.advanced-input:focus {
    outline: solid 1px #4487f6;
}

.advanced-submit {
    height: 30px;
    width: 170px;
    background-color: #3079ed;
    border: #3079ed solid 2px;
    color: #ffffff;
    padding:3px;
    font-weight: bold;
    border-radius:3px;
}