/* Default (dark) color theme */
:root {
    --custom-blue: #4174fe;
    --dynamic-blue: #00cdfd;
    --dynamic-blue-bg: #212550;
    --dynamic-blue-highlight: #80ffff;
    --dynamic-blue-muted: #225577;
    --alert-success-bg: #153714;
    --alert-success-border-color: #20a231;
    --alert-success-text-color: #20cc31;
    --alert-danger-bg: #371415;
    --alert-danger-border-color: #cc3120;
    --alert-danger-text-color: #a23120;
    font-size: 20px;
}

main {
    font-size: 26px;
}

/* Light color theme */
[data-bs-theme="light"] {
    --dynamic-blue: #103fff;
    --dynamic-blue-highlight: #000077;
    --dynamic-blue-muted: #5599ff;
    --dynamic-blue-bg: #eeeeff;
    --alert-success-bg: ;
    --alert-success-border-color: ;
    --alert-success-text-color: ;
    --alert-danger-bg: ;
    --alert-danger-border-color: ;
    --alert-danger-text-color: ;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

.dynamic-blue-text {
    color: var(--dynamic-blue);
}

.blue-nav-link {
    color: var(--dynamic-blue);
}

.blue-nav-link:hover {
    color: var(--dynamic-blue-highlight);
}

.blue-bottom-border {
    border-color: var(--dynamic-blue-muted) !important;
}

.btn-custom-blue {
    font-size: 26px;
    color: var(--dynamic-blue);
    border: 1px var(--custom-blue) solid;
    background-color: var(--dynamic-blue-bg);
}

.btn-custom-blue:hover {
    color: var(--dynamic-blue-highlight);
    background-color: var(--custom-blue);
}

.input-blue {
    border: 1px var(--custom-blue) solid;
}

.input-blue:focus {
    border: 1px var(--custom-blue) solid;
}

.alert-success {
    background-color: var(--alert-success-bg);
    color: var(--alert-success-text-color);
    border-color: var(--alert-success-border-color);
    font-size: 30px;
}

.alert-error {
    background-color: var(--alert-danger-bg);
    color: var(--alert-danger-text-color);
    border-color: var(--alert-danger-border-color);
    font-size: 30px;
}

.flashset {
    border: 2px solid var(--dynamic-blue-muted);
    background-color: var(--dynamic-blue-bg);
    border-radius: 25px;
}
